body {
    background-color: #161616;
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: cover;    
    color: #64c2e7;
    margin: 20px;
    /* font-family: Lato; */
}

a {
    text-decoration: none;
    color: #00a9e9;
}

a:hover{
    color: #76d8ff
}

.tilesContainer {
    opacity: 0.85;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: auto;
}

.gameContainer {
    background-color: #262626;
    width: 400px;
    height: 375px;
    float: left;
    margin: 5px;
    border-radius: 15%;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gamePlayButton {
    background-color: #333333;
    display: table;
    text-align: center;
    width: 100%;
    height: 15%;
    border-bottom: 2px solid black;
}

.gamePlayButton > a {
    color: #64c2e7;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    font-size: 150%;
    font-weight: bolder;
}

.gamePlayButton:hover {
    background-color: #434343
}

.textBar{
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    margin: 20px;
}

.textField {
    margin: 10px;
    text-align: justify;
    line-height: 1.2;
    font-size: 20px;
}

.notActive {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;  
  }